<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="shortcut icon" href="favicon.ico">
<style>
body { padding: 0; }
body.container { margin:0; padding: 0; }
header { border-bottom: 1px solid #ccc; }
main { padding: 20px 50px; }
textarea {
	width: 100%;
	height: 300px;
	font-family: monospace;
	font-size: 12px;
	line-height: 13px;
}
#msg { font-family: monospace; font-size: 12px; }
.hig { display: inline-block;background:#f5f5f5;padding-inline:2px; }
input[type=text] { width: 80%; }
label { padding: 10px 0 0 0; }
</style>
</head>
<body class="containe">
<header>
<%- include('./+.header.ejs'); %></header>
<main>
  <p>
    MAKE &nbsp;&nbsp;↓&nbsp;&nbsp; use <span class="hig">&nbsp;GENERATE&nbsp;</span>
    to randomly fill the form
    &nbsp;&nbsp;↓&nbsp;&nbsp; use <span class="hig">&nbsp;POST Submit Form&nbsp;</span>
    to test and submit the data
  </p>
  <p id="msg"></p>
  <div style="border: 1px solid #444; padding: 20px; background: #f5f5f5">
    <form id="form" name="form" method="post" action="/make">
      <div style="width: 50%; float: left">
        <label for="title">title (string) * required (255)</label><br>
        <input type="text" id="title" name="title" value=""><br>
        <label for="year">year (number) * required</label><br>
        <input type="text" id="year" name="year" value=""><br>
        <label for="runtime">runtime (number) * required</label><br>
        <input type="text" id="runtime" name="runtime" value=""><br>
        <label for="director">director (string) * required (255)</label><br>
        <input type="text" id="director" name="director" value=""><br>
        <label for="actors">actors (string) * optional</label><br>
        <input type="text" id="actors" name="actors" value=""><br>
        <label for="plot">plot (string) * optional</label><br>
        <input type="text" id="plot" name="plot" value=""><br>
        <label for="posterUrl">posterUrl (string) * optional</label><br>
        <input type="text" id="posterUrl" name="posterUrl" value=""><br>
      </div>
      <div>
        <label for="genres">grenres * required</label><br>
        <select id="genres" name="genres" size="24" multiple style="width: 30%; padding: 3px">
          <option value="Comedy">Comedy</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Crime">Crime</option>
          <option value="Drama">Drama</option>
          <option value="Music">Music</option>
          <option value="Adventure">Adventure</option>
          <option value="History">History</option>
          <option value="Thriller">Thriller</option>
          <option value="Animation">Animation</option>
          <option value="Family">Family</option>
          <option value="Mystery">Mystery</option>
          <option value="Biography">Biography</option>
          <option value="Action">Action</option>
          <option value="Film-Noir">Film-Noir</option>
          <option value="Romance">Romance</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="War">War</option>
          <option value="Western">Western</option>
          <option value="Horror">Horror</option>
          <option value="Musical">Musical</option>
          <option value="Sport">Sport</option>
          <option value="" disabled>──────────</option>
          <option value="Unknown">Unknown</option>
          <option value="">Empty</option>
        </select>
        <div style="padding-top: 50px">
          <div style="float:right; text-align:right;">
            <input id="submit" type="submit" value="POST Submit Form">
          </div>
          <div style="float:left; margin-right:30px;">
            <input id="res" type="reset" value="Reset Form">
          </div>
          <div style="float:left; margin-right:10px;">
            <input id="gen" type="button" value="GENERATE">
          </div>
          <div style="clear: both"></div>
        </div>
      </div>
    </form>
  </div>
</main>
<footer>
</footer>
</body>
<script>
//: --------------------------------------------------------
const handler = async (event) => {
  event.preventDefault();
  const server = window.location.origin;
  console.log(server);
  const form = new FormData(event.target);
  const data = Object.fromEntries(form.entries());
  data.genres = form.getAll("genres");
  if (data.genres.length === 0) delete data.genres;
  if (data.actors === "") delete data.actors;
  if (data.plot === "") delete data.plot;
  if (data.posterUrl === "") delete data.posterUrl;
  //: ------------------------------------------------------
  try {
    const response = await fetch(`${server}/movie`, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data)
    });
    //: ----------------------------------------------------
    const msg = document.getElementById("msg");
    const res = await response.json();
    //: ----------------------------------------------------
    //: reload (with timeout) on success
    //: const reload = () => document.location.href = `${server}/make`;
    //: if (res.id) setTimeout(reload, 3333);
    //: ----------------------------------------------------
    //: display object or message on failure
    msg.innerHTML = JSON.stringify(res);
    console.log(res);
  } catch (e) {
    console.error(e);
  }
}
//: --------------------------------------------------------
const form = document.querySelector("form");
form.addEventListener("submit", handler);
//: --------------------------------------------------------
</script>
<script type="module">
//: --------------------------------------------------------
import { faker } from "https://cdn.jsdelivr.net/npm/@faker-js/faker/+esm";
const targe = {};
targe.title = document.getElementById("title");
targe.year = document.getElementById("year");
targe.runtime = document.getElementById("runtime");
targe.director = document.getElementById("director");
targe.actors = document.getElementById("actors");
targe.plot = document.getElementById("plot");
targe.posterUrl = document.getElementById("posterUrl");
//: --------------------------------------------------------
targe.title.value = "TiT";
targe.year.value = "1999";
targe.runtime.value = "111";
targe.director.value = "Jerzy Hektor";
//: --------------------------------------------------------
const gen = () => {
  const rando = {};
  rando.title = faker.lorem.sentence(5);
  rando.year = faker.number.int({ min: 1919, max: 2024 });
  rando.runtime = faker.number.int({ min: 55, max: 333 });
  rando.director = faker.person.fullName();
  rando.actors = ([...Array(3)].map(() => ` ${faker.person.fullName()}`)).toString().trim();
  rando.plot = faker.lorem.sentence(33);
  rando.posterUrl = faker.image.avatar();
  //: ------------------------------------------------------
  targe.title.value = rando.title;
  targe.year.value = rando.year;
  targe.runtime.value = rando.runtime;
  targe.director.value = rando.director;
  targe.actors.value = rando.actors;
  targe.plot.value = rando.plot;
  targe.posterUrl.value = rando.posterUrl;
};
//: --------------------------------------------------------
const g = document.getElementById("gen");
const generate = (event) => { gen(); }
g.addEventListener("click", generate);
//: --------------------------------------------------------
</script>
</html>
